<section class="jumbotron text-center">
  <div class="container">
    <h1 class="text-center">Projekt wykonany na przedmiot cośtam cośtam</h1>
  </div>
</section>
<div class="container text-left mt-5">
  <p>Tematem projektu jest przykładowa strona internetowa Piekarni pod Kłosem Żyta.</p>
  <p>W projekcie zastosowano następujące technologie:</p>
  <ul>
    <li>Projekt jest SPA (Single Page Application) wykonany z użyciem frameworka Angular 8 - skrypty po stronie klienta
    </li>
    <li>Do stylowania CSS użyto biblioteki Bootstrap</li>
    <li>Wykorzystano tagi i atrybuty ułatwiające korzystanie ze strony przy użyciu oprogramowania czytającego</li>
    <li>Strona posiada certyfikat SSL</li>
  </ul>
  <p style="text-align: justify">Założeniem przy planowaniu nawigacji na stronie była prostota i przyjazność interfejsu
    dla końcowego użytkownika.
    Nawigacja jest prowadzona przy pomocy przycisków znajdujących na pasku w górnej części ekranu, które prowadzą do
    podstrony o odpowiedniej tematyce. Przedstawiono je na rysunku poniżej.</p>
  <p><img class="first-slide" src="assets/Pasek2.png" alt="Przedstawienie nawigacji">
    <br>
  </p>
  <p style="text-align: justify">Ze strony głównej przejście do podstron o określonej tematyce jest również możliwe za
    pomocą przycisków znajdujących się na "karuzeli".</p>
  <p>
    <br>
  </p>
  <p style="text-align: justify">W podstronie "Kontakt" znajduje się mapa z zaznaczoną przykładową lokalizacją w której
    mogłaby znajdować się piekarnia.</p>
</div>