ul.timeline {
    position: relative;
    padding-left: 1.5rem;
    list-style-type: none;
}

ul.timeline:before {
    height: 100%;
    z-index: 400;
    background: #000000;
    left: 16px;
    width: 4px;
    position: absolute;
    content: ' ';
    display: inline-block;
    border-radius: 1rem;
}

