<main role="main">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" (click)="changePage('main')" href="#">Piekarnia pod kłosem żyta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Otwórz/zamknij Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('breads')" href="#">Nasze Chleby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('history')" href="#">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('contact')" href="#">Kontakt </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('about')" href="#">O projekcie </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<app-main-page *ngIf="isCurrentPageMain()"></app-main-page>
<app-history *ngIf="isCurrentPageHistory()"></app-history>
<app-about *ngIf="isCurrentPageAbout()"></app-about>
<app-contact *ngIf="isCurrentPageContact()"></app-contact>



  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>


<svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none"
  style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
  <defs>
    <style type="text/css"></style>
  </defs><text x="0" y="25"
    style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text>
</svg>
</main>