<main role="main">
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" (click)="changePage('main')" href="#">Piekarnia pod kłosem żyta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Otwórz/zamknij Menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('breads')" href="#">Nasze Chleby</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('history')" href="#">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('contact')" href="#">Kontakt </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="changePage('about')" href="#">O projekcie </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<app-main-page *ngIf="isCurrentPageMain()"></app-main-page>
<app-panel *ngIf="isCurrentPageBreads()"></app-panel>
<app-history *ngIf="isCurrentPageHistory()"></app-history>
<app-about *ngIf="isCurrentPageAbout()"></app-about>
<app-contact *ngIf="isCurrentPageContact()"></app-contact>
</main>